html {
  background: #252525;
  font-family: 'Duru Sans', sans-serif;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  position: relative;
}

.header {
  color: #fff;
  text-align: center;
}

.header__title {
  font-weight: normal;
  font-size: 36px;
  margin-top: 0;
  padding-top: 15px;
}

.drop-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px dashed #ccc;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.l-main {
  padding-bottom: 50px;
}

.footer {
  bottom: 0;
  color: #FFF;
  font-size: 13px;
  padding-top: 25px;
  height: 25px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.footer a {
  color: inherit;
}

.convert {
  display: table;
  width: 100%;
  background: #01ffff;
  padding: 3% 0;
  margin-bottom: 3%;
}

.convert__row {
  display: table-row;
}

.convert__result {
  display: inline-block;
  vertical-align: top;
}

.convert__download {
  background: #000;
  color: #FFFFFF;
  padding: 10px;
}


.convert__arrow,
.convert__before,
.convert__after {
  display: table-cell;
  vertical-align: top;
}

.convert__before {
  text-align: right;
  width: 50%;
}

.convert__after {
  width: 50%;
}

.convert__before-img {
  float: right;
}

.convert__before-img,
.convert__after-img {
  width: 100%; /* responsive */
  display: block;
}

.convert__arrow {
  vertical-align: middle;
}

.convert__arrow-symbol {
  color: #ff1477;
  cursor: pointer;
  font-size: 100px;
  font-size: 10vw;
}


.upload-row {
    height: 80px;
}
.upload-text, .file_input {
    font: 86%/1.2727 Verdana,sans-serif;
    color: #666;
    vertical-align: top;
}
.file_label, .upload-text {
    padding-top: 30px;
    padding-left: 15px;
    display: inline-block;
}
